.container{
    width: 1300px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.text-centered{
    text-align: center;
    margin: auto;
    width: 450px;
    text-justify:auto;
}
.frequently-asked-ques{
    text-align: justify;
}
.add-to-browsers{
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.chrome, .firefox, .opera{
    border: 1px solid grey;
    padding: 15px;
    text-align: center;
    margin-right: 20px;
}
.chrome{
    align-self: flex-start;
}
.firefox{
    align-self: center;
}
.opera{
    align-self: flex-end;
}
.more-info-btn-centered{
    display: inline-block;
    text-align: center;
}
.first-footer{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.second-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}
.inner-second-footer{
    display: flex;
}
a{
    text-decoration: none;
}

 

.hero{
    position: relative;
    width: 570px;
    height: 380px;
    z-index: 1;
    /* box-shadow:rgb(212, 61, 137) 60px 60px ; */
    border-radius: 0% 0% 6% 0%;
}
.create-border{
    width: 570px;
    height: 380px;
    position: absolute;
    top:90px ;
    left: 80px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0px 0px 0px 180px;
}
.features-img{
    position: relative;
    width:536px;
    height:346px;
    z-index: 1;
    /* box-shadow:rgb(212, 61, 137) 60px 60px ;
    border-radius: 0% 0% 30% 0%; */
}
.create-border2{
    width:536px;
    height:346px;
    position: absolute;
    top:80px;
    right: 100px;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0px 0px 150px 0px;
}
